# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local


# Firebase cache
.firebase/
.emulators-data

# Firebase log files
firebase*.log
firestore*.log
ui-debug.log

# Misc. .log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-storybook.log*
eslint.log

# IDE specific
.vscode
node_modules
**/node_modules
./node_modules
